/* Footer Styles */

.footer-col {
  flex: 1 1 30%;
  /* margin: 10px 0; */
}

.social-link-div {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-links a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #00aced;
}

.copyright {
  font-size: 14px;
  color: white;
  text-align: center;
  padding-block: 1.6rem;
  background-color: black;
}
