/* Header.css */

.header {
    background: linear-gradient(to right, #e8ecef, #fbfbfb);
    /* Gradient background for a modern look */
    color: white;
    /* Text color */
    padding: 20px;
    /* Padding around the content */
    text-align: center;
    /* Center-align text */
    border-radius: 8px;
    /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    margin-block: 100px 20px;
    /* Space below the header */
}

.section {
    padding: 20px;
    margin: 0 auto;
    max-width: 1120px;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-title {
    font-size: 2rem;
    /* Large font size for the title */
    margin-bottom: 10px;
    /* Space below the title */
}

.header-description {
    margin: 0;
    line-height: 1.5;
    font-size: 1.2rem;
}